@charset "utf-8";

@font-face {
  font-family: idroid;
  src: url(pacote-projeto-d010/fontes/idroid.otf);
}
div.cima {
  color: rgb(255, 255, 255);
  text-align: center;
  background-image: linear-gradient(to bottom, #3cd882, #195b38);
}

h1.titulo {
  font-family: idroid;
  color: #2c6847;
  text-align: center;
}
p#cima {
  text-align: left;
}
main.meio {
  text-align: justify;
  background-color: rgb(255, 255, 255);
  width: 800px;
  margin: auto;
}
h2.degrade {
    background-image: linear-gradient(to right, #C5EBD5, white);
    font-family: idroid;
    color: #1D5F3B;
    padding:
    
}
