@charset "utf-8";

@font-face {
    font-family: idroid;
    src: url(pacote-projeto-d010/fontes/idroid.otf);
}
div.cima{
    color: rgb(255, 255, 255);
    text-align: center;
    background-image: linear-gradient(to bottom, #3CD882,#195B38);
    
}

h1.titulo {
    font-family: idroid;
    color:#2C6847 ;
   
}    
p#cima {
    text-align: justify;
}
div.meio {
    text-align: center ;
    background-color: white;
}
