@charset "utf-8"


div{
    color: rgb(255, 255, 255);
    text-align: center;
    background-image: linear-gradient(to bottom, #3CD882,#195B38);
    
}
p#cima:hover{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    
    
}
h1.titulo {

}    